
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'NexaBold';
    src: url('../fonts/Nexa Bold.otf') format('otf');
}

@font-face {
    font-family: 'PtSans Bold';
    src: url("../fonts/PTSans-Bold.ttf") format('ttf');
}
@font-face {
    font-family: 'NexaXBold';
    src: url("../fonts/NexaXBold.otf") format('otf');
}

@font-face {
    font-family: 'NexaRegular';
    src: url("../fonts/NexaRegular.otf") format('otf');
}

@font-face {
    font-family: 'NexaBook';
    src: url("../fonts/NexaBook.otf") format('otf');
}

@font-face {
    font-family: 'PtSans Regular';
    src: url("../fonts/pt-sans.ttf") format('ttf');
}

@font-face {
    font-family: 'HelveticaRegular';
    src: url("../fonts/HelveticaRegular.woff") format('woff');
}
.header{
    width: 100%;
    background:#f3f3f3;
    padding-top: 41px;
}

.container{
    width: 960px;
    margin: 0 auto;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
}

.location{
    display: flex;
    margin-left: 90px;
    margin-top: 20px;
     
}
.location-tittle{
    font-family: 'NexaBold', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #d5d5d5;
}

.location-img{
    margin-left: 17px;
}

.divider{
    width: 1px;
    height: 25px;
    background: #c7c7c7;
    margin-top: 14px;
}

.select-header{
    display: flex;
    margin-top: 18px;
}

.select-title{
    font-family: 'NexaBold',sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #5b169f;
}

.select-img{
    padding-left: 14px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    //border-color: #5b169f;
    border: solid #5b169f;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow-up{
    margin-top: -8px ;
    margin-bottom: -7px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid #5b169f;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

form{
    margin-left: 16px;
    margin-top: 2px;
}
.input{
    width: 300px;
    height: 46px;
    padding: 19px 0 16px 19px;
    font-family: 'NexaBold',sans-serif;
    font-size: 12px;
    color: #959595;
    font-weight: 400;
    border: none;
    -webkit-box-shadow: -2px 12px 25px -15px rgba(0,0,0,0.69);
    -moz-box-shadow: -2px 12px 25px -15px rgba(0,0,0,0.69);
    box-shadow: -2px 12px 25px -15px rgba(0,0,0,0.69);
    //-webkit-box-shadow: -5px 16px 43px -28px rgba(0,0,0,0.69);
    //-moz-box-shadow: -5px 16px 43px -28px rgba(0,0,0,0.69);
    //box-shadow: -5px 16px 43px -28px rgba(0,0,0,0.69);

}

.img-clock{
    position: relative;
}

.img-clocks{
    position: absolute;
    content: "";
    top: 13px;
    right: 25px;
}
.nav{
    margin-top: 40px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.menu-item {
    width: 164px;
    height: 113px;
    background: #fefefe;
    border: 1px solid #d4d4d4;
    border-bottom: 5px solid #701dbb ;
    //border-bottom-color: #701dbb;
    //border-bottom-style: solid;
    z-index: 2;
    &:hover {
        border-bottom: 13px solid #701dbb ;
        transition: all 0.6s;
        height: 125px;
        width: 170px;
    }
    & a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "PtSans Bold",sans-serif;
        font-weight: bold;
        color: #707070;
        font-size: 17px;
        padding-top: 20px;
        text-decoration: none;

        &:hover{
            color: #701dbb;
            transition: all 0.7s;

            i {
             color: #701dbb;
                transition: all 0.7s;
            }
        }

    }
}
.fas {
    color: #7d7d7d;
    margin-bottom: 20px ;
    font-size: 22px;
}

.background{
    background: url("../img/bridge.png") center center/ cover no-repeat;
    height: 640px;
    padding: 238px 178px;
    margin-top: -12px;

}

.text-container{
    width: 567px;
    margin: 0 auto;


}

.title{
    font-family: 'NexaXBold', sans-serif;
    font-size: 47px;
    color: #ffffff;
    text-align: center;

}

.sub-title {
    font-family: 'NexaRegular', sans-serif;
    margin-top: 22px;
    text-align: center;
    color: #ffffff;
}

.round{
    width: 140px;
    height: 140px;
    background: #451a4a;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
}


.anywhere{
    background: #2d2d2d;
    width: 100%;
    margin-top: -24px;
    padding: 55px 108px;
}
.anywhere-title{
    font-family: "NexaBook", sans-serif;
    font-size: 36px;
    text-align: center;
    color: #ffffff;
}

.anywhere-sub-title{
    font-family: 'NexaBold', sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 12px;
    color: #a161db;
}
.icons-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

}

.divider-length{
    width: 140px;
    height: 3px;
    background: #6d6d6d;
    margin-left: 44px;
    margin-right: 46px;

}

.wrapper-text{
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}
.title-text{
    font-family: 'NexaBook',sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

.sub-title-text{
    width: 300px;
    text-align: justify;
    margin-top: 24px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    line-height: 22px ;
    color: #ffffff;
}

.simple{
    width: 100%;
    background: #222222;
    padding-top: 60px;


}

.border-simple{
    border: 50px solid #070707;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom: none;
    width: 1254px;
    margin: 0 auto;
    //background: rgb(63,0,132);
    //background: linear-gradient(90deg, rgba(63,0,132,1) 0%, rgba(113,25,177,0.7651435574229692) 100%, rgba(114,67,143,1) 100%);
    background: rgb(59,0,130);
    background: linear-gradient(90deg, rgba(59,0,130,1) 0%, rgba(108,17,174,1) 100%, rgba(143,52,197,1) 100%);
}


.simple-icons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 106px;

}


.divider-length_white{
    width: 180px;
    height: 4px;
    background: #ffffff;
}

.simple-title{
    font-family: 'NexaBook', sans-serif;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    margin-top: 53px;

}

.simple-sub-title{
    font-family: 'NexaBold', sans-serif;
    font-size: 18px;
    color: #782fb8;
    text-align: center;
    margin-top: 21px;
    text-shadow: 1px 3px 5px rgba(119, 119, 119, 1);
    padding-bottom: 100px;
}

.team{
    width: 100%;
    padding: 82px 0 35px 0;
    background:#ebebeb ;
    border-bottom: 5px  solid #914dcf;
}

.humble-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider-humbler{
    width: 220px;
    height: 3px;
    background: #dedede;
}

.humble-team{
    font-family: 'NexaBook', sans-serif;
    font-size: 36px;
    color: #717171;

}

.humble-sub-title{
    font-family: 'NexaBook', sans-serif;
    text-align: center;
    font-size: 18px ;
    color: #717171;
    margin-top: 20px;
}
.photo-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 52px;
}
.photo-rotate{
    height: 210px;
    width: 220px;
    transform: rotate(-5deg);
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);

}

.rotate{
    display: block;
    transform: rotate(5deg);
}

.photo-contacts{
    margin-top: 25px;
}

.photo-name {
    font-family: 'PtSans Bold', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #9b9b9b;
}

.photo-position{
    font-family: 'PtSans Regular', sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #9b9b9b;
}
//
.photo-emblem{
    position: relative;
}
.twitter-emblem{
    position: absolute;
    content: '';
    left: 171px;
    top: 169px;
    width: 48px;
    height: 40px ;
    background: #8f33c4;

}

.twitter-icon{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}


.dots{
    margin-top: 40px ;
}

.menu-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}

.dots-item{
    width: 10px;
    height: 10px;
    //background:#943dc6 ;
    background: #979797;
    border-radius: 100%;
    margin: 0 10px  ;
}

.card-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}
.card-left{
    width: 460px;
    background: #ffffff;
}


.card-right{
    width: 460px;
    background: #ffffff;
}
.wrapper-plus{
    width: 30px;
    height: 30px;
    background: #8f33c4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.plus:before,
.plus:after {
    content: "";
    position:absolute;
    background:#ffffff;
}
.plus:before {
    left:50%;
    top:4px;
    bottom:4px;
    width:3px;
    transform:translateX(-50%);
}
.plus:after {
    top:50%;
    left:4px;
    right:4px;
    height:4px;
    transform:translateY(-50%);
}

.card-text{
    margin: 32px 0 0 52px;
    width: 350px;
}
.card-header{
    font-family: 'NexaBold', sans-serif;
    text-transform: capitalize;
    font-size: 30px;
    color: #252525;
    font-weight: 700;

}
.card-title{
    font-family: 'NexaBold', sans-serif;
    font-size: 16px;
    color: #6017a3;
    margin-top: 23px;
    font-weight: bold;
    text-align: justify;
    line-height: 25px;


}

.card-title-subtitle{
    margin-top: 50px;
    font-family: 'NexaBold',sans-serif;
    color: #b1b1b1;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
    margin-bottom: 100px;
}

.card-bottom{
    margin-top: 20px;
    background: #ffffff;

}

.card-bottom-text{
    padding: 70px 70px 100px 52px;


}

.card-bottom-header{
    font-family: 'NexaBold', sans-serif;
    font-size: 30px;
    color: #252525;
    font-weight: bold;
}

.card-bottom-title{
    margin-top: 30px;
    font-family: 'NexaBold', sans-serif;
    font-size: 14px;
    color: #6017a3;
    font-weight: 800;
    line-height: 27px;
    text-align: justify;
}


.card-bottom-subtitle{
    margin-top: 40px;
    font-family: 'NexaBold',sans-serif;
    color: #b1b1b1;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}


.footer{
    padding: 30px 0 250px 0;
    background: #373737;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
}


.footer-menu{
    width: 410px;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

    & li{
        margin-top: 14px;
        border-right: 1px solid white;
        padding-right: 25px;

        &:last-child{
            border-right: none;
            padding-right: 0;
        }
    }

    & a{
        font-family: 'NexaXBold', sans-serif;
        font-size: 12px;
        color: #ffffff;
        text-decoration: none;
        padding-top: 10px ;
        padding-bottom: 14px;

        &:hover{
            border-bottom: 5px solid #914dcf;
            transition: all 0.4s;
        }
    }
}

.footer-description{
    font-family: 'HelveticaRegular',sans-serif;
    font-size: 12px;
    color: #cdcdcd;
    width: 460px;
    margin-top: 40px;
    line-height: 25px;
    text-align: justify;
}
.social-icons{
    margin-top: 65px;
}

.social-menu{
  display: flex;
    justify-content: flex-start;
    list-style-type: none;

    & a{
        font-family: 'PtSans Bold',sans-serif;
        color:#ffffff;
        font-size: 12px;
        font-weight: 500;
        text-decoration: none;
        padding-right: 36px;

    }
}

.padding{
    padding-right: 6px;
}
.fa-rss{
    font-size: 16px;
    color: #ffffff;
}
.fa-envelope{
    font-size: 16px;
    color: #ffffff;
}
//@import "block/_slick-theme.scss";
//@import "block/_slick.scss";

.menu-information{
    margin-top: 50px;
}

.about-menu{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;

    & a{
    font-family: 'HelveticaRegular', sans-serif;
    font-size: 12px;
     color: #ffffff;
     padding: 0 15px 0 0;
     text-decoration: none;
    }
}

.footer-descr{
    font-family: 'HelveticaRegular',sans-serif;
    font-size: 11px;
    color: #6c6c6c;
    line-height: 21px;
    margin-top: 30px;
    width: 760px;
    text-align: justify;
}